/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.5.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: gondowangi-wms
-- ------------------------------------------------------
-- Server version	11.5.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `activity_logs`
--

DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL COMMENT 'User yang melakukan aksi',
  `action` varchar(50) NOT NULL COMMENT 'Create, Update, Delete',
  `description` text DEFAULT NULL COMMENT 'Deskripsi aktivitas',
  `material_id` int(11) DEFAULT NULL,
  `supplier_id` int(11) DEFAULT NULL,
  `warehousebin_id` int(11) DEFAULT NULL,
  `user_id_target` int(11) DEFAULT NULL COMMENT 'User yang menjadi target (untuk log user)',
  `batch_lot` varchar(255) DEFAULT NULL,
  `exp_date` date DEFAULT NULL,
  `qty_before` decimal(15,2) DEFAULT NULL,
  `qty_after` decimal(15,2) DEFAULT NULL,
  `bin_from` varchar(255) DEFAULT NULL,
  `bin_to` varchar(255) DEFAULT NULL,
  `reference_document` varchar(255) DEFAULT NULL,
  `old_value` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`old_value`)),
  `new_value` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`new_value`)),
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `device_info` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_action` (`action`),
  KEY `idx_material_id` (`material_id`),
  KEY `idx_supplier_id` (`supplier_id`),
  KEY `idx_warehousebin_id` (`warehousebin_id`),
  KEY `idx_user_id_target` (`user_id_target`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `fk_activity_logs_material` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_activity_logs_supplier` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_activity_logs_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_activity_logs_user_target` FOREIGN KEY (`user_id_target`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_activity_logs_warehousebin` FOREIGN KEY (`warehousebin_id`) REFERENCES `warehouse_bins` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=158 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_logs`
--

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cycle_counts`
--

DROP TABLE IF EXISTS `cycle_counts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cycle_counts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cycle_number` varchar(255) NOT NULL COMMENT 'SerialNumber di gambar (misal: 22637281025SKI)',
  `material_id` int(11) NOT NULL,
  `warehouse_bin_id` int(11) NOT NULL COMMENT 'Location / Bin ID',
  `system_qty` decimal(10,2) NOT NULL COMMENT 'Onhand Qty dari Sistem',
  `physical_qty` decimal(10,2) DEFAULT NULL COMMENT 'Qty hasil hitungan user',
  `scanned_serial` varchar(255) DEFAULT NULL COMMENT 'Inputan Scan Serial Number',
  `scanned_bin` varchar(255) DEFAULT NULL COMMENT 'Inputan Scan Bin',
  `status` varchar(50) NOT NULL DEFAULT 'DRAFT' COMMENT 'DRAFT, REVIEW, APPROVED',
  `spv_note` text DEFAULT NULL COMMENT 'Catatan Supervisor jika ada selisih',
  `count_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cycle_counts_material_id_foreign` (`material_id`),
  KEY `cycle_counts_warehouse_bin_id_foreign` (`warehouse_bin_id`),
  CONSTRAINT `cycle_counts_material_id_foreign` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`) ON DELETE CASCADE,
  CONSTRAINT `cycle_counts_warehouse_bin_id_foreign` FOREIGN KEY (`warehouse_bin_id`) REFERENCES `warehouse_bins` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cycle_counts`
--

LOCK TABLES `cycle_counts` WRITE;
/*!40000 ALTER TABLE `cycle_counts` DISABLE KEYS */;
/*!40000 ALTER TABLE `cycle_counts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `good_receipts`
--

DROP TABLE IF EXISTS `good_receipts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `good_receipts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `gr_number` varchar(100) NOT NULL,
  `qc_checklist_id` int(11) DEFAULT NULL,
  `incoming_item_id` int(11) DEFAULT NULL,
  `material_id` int(11) NOT NULL,
  `batch_lot` varchar(100) DEFAULT NULL,
  `qty_received` decimal(10,2) NOT NULL,
  `uom` varchar(50) NOT NULL,
  `status_material` enum('KARANTINA','RELEASED','HOLD') DEFAULT 'KARANTINA',
  `warehouse_location` varchar(100) DEFAULT NULL,
  `tanggal_gr` datetime NOT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `gr_number` (`gr_number`),
  KEY `incoming_item_id` (`incoming_item_id`),
  KEY `material_id` (`material_id`),
  KEY `created_by` (`created_by`),
  KEY `idx_gr_number` (`gr_number`),
  KEY `idx_qc_checklist_id` (`qc_checklist_id`),
  KEY `idx_status_material` (`status_material`),
  CONSTRAINT `good_receipts_ibfk_1` FOREIGN KEY (`qc_checklist_id`) REFERENCES `qc_checklists` (`id`) ON DELETE SET NULL,
  CONSTRAINT `good_receipts_ibfk_2` FOREIGN KEY (`incoming_item_id`) REFERENCES `incoming_goods_items` (`id`) ON DELETE SET NULL,
  CONSTRAINT `good_receipts_ibfk_3` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`),
  CONSTRAINT `good_receipts_ibfk_4` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=1239 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `good_receipts`
--

LOCK TABLES `good_receipts` WRITE;
/*!40000 ALTER TABLE `good_receipts` DISABLE KEYS */;
/*!40000 ALTER TABLE `good_receipts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incoming_activity_logs`
--

DROP TABLE IF EXISTS `incoming_activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `incoming_activity_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `incoming_id` int(11) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `material_id` int(11) DEFAULT NULL,
  `batch_lot` varchar(100) DEFAULT NULL,
  `exp_date` date DEFAULT NULL,
  `qty_before` decimal(10,2) DEFAULT NULL,
  `qty_after` decimal(10,2) DEFAULT NULL,
  `bin_from` varchar(100) DEFAULT 'QRT',
  `bin_to` varchar(100) DEFAULT NULL,
  `reference_document` varchar(100) DEFAULT NULL,
  `old_value` text DEFAULT NULL,
  `new_value` text DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `device_info` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_incoming_id` (`incoming_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_material_id` (`material_id`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `incoming_activity_logs_ibfk_1` FOREIGN KEY (`incoming_id`) REFERENCES `incoming_goods` (`id`) ON DELETE CASCADE,
  CONSTRAINT `incoming_activity_logs_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `incoming_activity_logs_ibfk_3` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incoming_activity_logs`
--

LOCK TABLES `incoming_activity_logs` WRITE;
/*!40000 ALTER TABLE `incoming_activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `incoming_activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incoming_documents`
--

DROP TABLE IF EXISTS `incoming_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `incoming_documents` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `incoming_id` int(11) NOT NULL,
  `document_type` enum('surat_jalan','po','coa','label','photo','other') NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `file_size` int(11) DEFAULT NULL,
  `mime_type` varchar(100) DEFAULT NULL,
  `uploaded_by` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `uploaded_by` (`uploaded_by`),
  KEY `idx_incoming_id` (`incoming_id`),
  CONSTRAINT `incoming_documents_ibfk_1` FOREIGN KEY (`incoming_id`) REFERENCES `incoming_goods` (`id`) ON DELETE CASCADE,
  CONSTRAINT `incoming_documents_ibfk_2` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incoming_documents`
--

LOCK TABLES `incoming_documents` WRITE;
/*!40000 ALTER TABLE `incoming_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `incoming_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incoming_goods`
--

DROP TABLE IF EXISTS `incoming_goods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `incoming_goods` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `incoming_number` varchar(100) NOT NULL,
  `no_surat_jalan` varchar(100) DEFAULT NULL,
  `po_id` int(11) DEFAULT NULL,
  `supplier_id` int(11) NOT NULL,
  `no_kendaraan` varchar(50) DEFAULT NULL,
  `nama_driver` varchar(100) DEFAULT NULL,
  `tanggal_terima` datetime NOT NULL,
  `kategori` enum('Raw Material','Packaging Material','Spare Part','Office Supply') NOT NULL,
  `status` enum('Karantina','Received','QC Pending','QC Approved','QC Rejected','Completed','RELEASED') DEFAULT 'Karantina',
  `received_by` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `po_id` (`po_id`),
  KEY `supplier_id` (`supplier_id`),
  KEY `received_by` (`received_by`),
  KEY `idx_no_surat_jalan` (`no_surat_jalan`),
  KEY `idx_tanggal_terima` (`tanggal_terima`),
  KEY `idx_status` (`status`),
  CONSTRAINT `incoming_goods_ibfk_2` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`),
  CONSTRAINT `incoming_goods_ibfk_3` FOREIGN KEY (`received_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `incoming_goods_ibfk_4` FOREIGN KEY (`po_id`) REFERENCES `purchase_orders` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=471 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incoming_goods`
--

LOCK TABLES `incoming_goods` WRITE;
/*!40000 ALTER TABLE `incoming_goods` DISABLE KEYS */;
/*!40000 ALTER TABLE `incoming_goods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incoming_goods_items`
--

DROP TABLE IF EXISTS `incoming_goods_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `incoming_goods_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `incoming_id` int(11) NOT NULL,
  `material_id` int(11) NOT NULL,
  `bin_target` varchar(255) DEFAULT NULL,
  `batch_lot` varchar(100) DEFAULT NULL,
  `exp_date` date DEFAULT NULL,
  `qty_wadah` int(11) DEFAULT NULL,
  `qty_unit` int(11) DEFAULT NULL,
  `satuan` varchar(50) DEFAULT NULL,
  `kondisi_baik` tinyint(1) DEFAULT 0,
  `kondisi_tidak_baik` tinyint(1) DEFAULT 0,
  `coa_ada` tinyint(1) DEFAULT 0,
  `coa_tidak_ada` tinyint(1) DEFAULT 0,
  `label_mfg_ada` tinyint(1) DEFAULT 0,
  `label_mfg_tidak_ada` tinyint(1) DEFAULT 0,
  `label_coa_sesuai` tinyint(1) DEFAULT 0,
  `label_coa_tidak_sesuai` tinyint(1) DEFAULT 0,
  `pabrik_pembuat` varchar(200) DEFAULT NULL,
  `status_qc` enum('To QC','In QC','PASS','REJECT','Direct Putaway') DEFAULT 'To QC',
  `is_halal` tinyint(1) NOT NULL DEFAULT 0,
  `is_non_halal` tinyint(1) NOT NULL DEFAULT 0,
  `qr_code` text DEFAULT NULL,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `material_id` (`material_id`),
  KEY `idx_incoming_id` (`incoming_id`),
  KEY `idx_batch_lot` (`batch_lot`),
  KEY `idx_qr_code` (`qr_code`(255)),
  KEY `idx_status_qc` (`status_qc`),
  CONSTRAINT `incoming_goods_items_ibfk_1` FOREIGN KEY (`incoming_id`) REFERENCES `incoming_goods` (`id`) ON DELETE CASCADE,
  CONSTRAINT `incoming_goods_items_ibfk_2` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1253 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incoming_goods_items`
--

LOCK TABLES `incoming_goods_items` WRITE;
/*!40000 ALTER TABLE `incoming_goods_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `incoming_goods_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory_stock`
--

DROP TABLE IF EXISTS `inventory_stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventory_stock` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `material_id` int(11) NOT NULL,
  `warehouse_id` int(11) NOT NULL,
  `bin_id` int(11) NOT NULL,
  `batch_lot` varchar(100) DEFAULT NULL,
  `exp_date` date NOT NULL DEFAULT '2026-12-31',
  `qty_on_hand` decimal(10,2) NOT NULL,
  `qty_reserved` decimal(10,2) DEFAULT 0.00,
  `qty_available` decimal(10,2) DEFAULT NULL,
  `uom` varchar(50) NOT NULL,
  `status` enum('KARANTINA','RELEASED','HOLD','REJECTED') NOT NULL,
  `gr_id` int(11) DEFAULT NULL,
  `last_movement_date` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_material_warehouse_bin_batch` (`material_id`,`warehouse_id`,`bin_id`,`batch_lot`),
  KEY `warehouse_id` (`warehouse_id`),
  KEY `idx_bin_id` (`bin_id`),
  KEY `idx_status` (`status`),
  KEY `inventory_stock_ibfk_4` (`gr_id`),
  CONSTRAINT `inventory_stock_ibfk_1` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`),
  CONSTRAINT `inventory_stock_ibfk_2` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`id`),
  CONSTRAINT `inventory_stock_ibfk_3` FOREIGN KEY (`bin_id`) REFERENCES `warehouse_bins` (`id`),
  CONSTRAINT `inventory_stock_ibfk_4` FOREIGN KEY (`gr_id`) REFERENCES `incoming_goods` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=951 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_stock`
--

LOCK TABLES `inventory_stock` WRITE;
/*!40000 ALTER TABLE `inventory_stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `material_labels`
--

DROP TABLE IF EXISTS `material_labels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `material_labels` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `label_number` varchar(100) NOT NULL,
  `qr_code` text DEFAULT NULL,
  `incoming_item_id` int(11) DEFAULT NULL,
  `material_id` int(11) NOT NULL,
  `batch_lot` varchar(100) DEFAULT NULL,
  `exp_date` date DEFAULT NULL,
  `qty` decimal(10,2) DEFAULT NULL,
  `uom` varchar(50) DEFAULT NULL,
  `status` enum('KARANTINA','RELEASED','REJECT','HOLD','RETURNED') DEFAULT 'KARANTINA',
  `warehouse_location` varchar(100) DEFAULT NULL,
  `printed_at` datetime DEFAULT NULL,
  `printed_by` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `label_number` (`label_number`),
  KEY `incoming_item_id` (`incoming_item_id`),
  KEY `material_id` (`material_id`),
  KEY `printed_by` (`printed_by`),
  KEY `idx_label_number` (`label_number`),
  KEY `idx_qr_code` (`qr_code`(255)),
  KEY `idx_batch_lot` (`batch_lot`),
  KEY `idx_status` (`status`),
  CONSTRAINT `material_labels_ibfk_1` FOREIGN KEY (`incoming_item_id`) REFERENCES `incoming_goods_items` (`id`) ON DELETE SET NULL,
  CONSTRAINT `material_labels_ibfk_2` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`),
  CONSTRAINT `material_labels_ibfk_3` FOREIGN KEY (`printed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `material_labels`
--

LOCK TABLES `material_labels` WRITE;
/*!40000 ALTER TABLE `material_labels` DISABLE KEYS */;
/*!40000 ALTER TABLE `material_labels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `material_reqc`
--

DROP TABLE IF EXISTS `material_reqc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `material_reqc` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `material_id` bigint(20) unsigned NOT NULL,
  `inventory_stock_id` bigint(20) unsigned NOT NULL,
  `batch_lot` varchar(255) NOT NULL,
  `old_exp_date` date NOT NULL,
  `new_exp_date` date DEFAULT NULL,
  `bin_from_id` bigint(20) unsigned NOT NULL,
  `bin_qrt_id` bigint(20) unsigned DEFAULT NULL,
  `qty` decimal(10,2) NOT NULL,
  `status` enum('PENDING_TRANSFER','IN_QRT','APPROVED','REJECTED') NOT NULL DEFAULT 'PENDING_TRANSFER',
  `qc_notes` text DEFAULT NULL,
  `qc_by` bigint(20) unsigned DEFAULT NULL,
  `qc_date` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `material_reqc`
--

LOCK TABLES `material_reqc` WRITE;
/*!40000 ALTER TABLE `material_reqc` DISABLE KEYS */;
/*!40000 ALTER TABLE `material_reqc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materials`
--

DROP TABLE IF EXISTS `materials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `materials` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode_item` varchar(50) NOT NULL,
  `nama_material` varchar(200) NOT NULL,
  `subkategori` varchar(125) NOT NULL,
  `satuan` varchar(50) NOT NULL COMMENT 'UoM',
  `deskripsi` text DEFAULT NULL,
  `qc_required` tinyint(1) DEFAULT 1 COMMENT 'Apakah material ini perlu QC',
  `expiry_required` tinyint(1) DEFAULT 0 COMMENT 'Apakah material ini punya exp date',
  `abc_class` enum('A','B','C') DEFAULT NULL COMMENT 'ABC classification for inventory management',
  `default_supplier_id` int(11) DEFAULT NULL COMMENT 'Default supplier untuk material ini',
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `kategori` varchar(255) DEFAULT NULL,
  `halal_status` varchar(12) NOT NULL DEFAULT 'halal',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_item` (`kode_item`),
  KEY `default_supplier_id` (`default_supplier_id`),
  KEY `idx_kode_item` (`kode_item`),
  KEY `idx_kategori` (`kategori`),
  KEY `idx_abc_class` (`abc_class`),
  KEY `idx_status` (`status`),
  CONSTRAINT `materials_ibfk_1` FOREIGN KEY (`default_supplier_id`) REFERENCES `suppliers` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=215 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materials`
--

LOCK TABLES `materials` WRITE;
/*!40000 ALTER TABLE `materials` DISABLE KEYS */;
/*!40000 ALTER TABLE `materials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
INSERT INTO `migrations` VALUES
(1,'2025_12_01_164653_create_qc_reqc_history_table',1),
(2,'2025_12_09_140000_add_last_seen_at_to_users_table',2),
(3,'2025_12_11_155623_add_duration_tracking_to_reservation_requests_table',3);
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_resets`
--

DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_resets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(100) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `expired_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_resets`
--

LOCK TABLES `password_resets` WRITE;
/*!40000 ALTER TABLE `password_resets` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permissions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `permission_name` varchar(100) NOT NULL,
  `module` varchar(255) NOT NULL,
  `action` varchar(225) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_order_items`
--

DROP TABLE IF EXISTS `purchase_order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `purchase_order_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `po_id` int(11) NOT NULL,
  `material_id` int(11) NOT NULL,
  `qty_order` decimal(10,2) NOT NULL,
  `satuan` varchar(50) NOT NULL,
  `harga_satuan` decimal(15,2) NOT NULL,
  `total_harga` decimal(15,2) NOT NULL,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_po_id` (`po_id`),
  KEY `idx_material_id` (`material_id`),
  CONSTRAINT `purchase_order_items_ibfk_1` FOREIGN KEY (`po_id`) REFERENCES `purchase_orders` (`id`) ON DELETE CASCADE,
  CONSTRAINT `purchase_order_items_ibfk_2` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_order_items`
--

LOCK TABLES `purchase_order_items` WRITE;
/*!40000 ALTER TABLE `purchase_order_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_orders`
--

DROP TABLE IF EXISTS `purchase_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `purchase_orders` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `no_po` varchar(100) NOT NULL,
  `supplier_id` int(11) NOT NULL,
  `tanggal_po` date NOT NULL,
  `tanggal_kirim_diharapkan` date DEFAULT NULL,
  `total_nilai` decimal(15,2) DEFAULT 0.00,
  `status` enum('pending','open','completed','cancelled') DEFAULT 'pending',
  `keterangan` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `no_po` (`no_po`),
  KEY `created_by` (`created_by`),
  KEY `idx_no_po` (`no_po`),
  KEY `idx_supplier_id` (`supplier_id`),
  KEY `idx_status` (`status`),
  KEY `idx_tanggal_po` (`tanggal_po`),
  CONSTRAINT `purchase_orders_ibfk_1` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`),
  CONSTRAINT `purchase_orders_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=292 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_orders`
--

LOCK TABLES `purchase_orders` WRITE;
/*!40000 ALTER TABLE `purchase_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qc_activity_logs`
--

DROP TABLE IF EXISTS `qc_activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qc_activity_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `qc_checklist_id` int(11) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `material_id` int(11) DEFAULT NULL,
  `batch_lot` varchar(100) DEFAULT NULL,
  `exp_date` date DEFAULT NULL,
  `qty_before` decimal(10,2) DEFAULT NULL,
  `qty_after` decimal(10,2) DEFAULT NULL,
  `bin_from` varchar(100) DEFAULT NULL,
  `bin_to` varchar(100) DEFAULT NULL,
  `reference_document` varchar(100) DEFAULT NULL,
  `old_value` text DEFAULT NULL,
  `new_value` text DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `device_info` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_qc_checklist_id` (`qc_checklist_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_material_id` (`material_id`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `qc_activity_logs_ibfk_1` FOREIGN KEY (`qc_checklist_id`) REFERENCES `qc_checklists` (`id`) ON DELETE CASCADE,
  CONSTRAINT `qc_activity_logs_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `qc_activity_logs_ibfk_3` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qc_activity_logs`
--

LOCK TABLES `qc_activity_logs` WRITE;
/*!40000 ALTER TABLE `qc_activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `qc_activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qc_checklist_details`
--

DROP TABLE IF EXISTS `qc_checklist_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qc_checklist_details` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `qc_checklist_id` int(11) NOT NULL,
  `jumlah_box_utuh` int(11) DEFAULT NULL,
  `qty_box_utuh` decimal(10,2) DEFAULT NULL,
  `jumlah_box_tidak_utuh` int(11) DEFAULT NULL,
  `qty_box_tidak_utuh` decimal(10,2) DEFAULT NULL,
  `qty_sample` decimal(10,2) NOT NULL,
  `total_incoming` decimal(10,2) DEFAULT NULL,
  `uom` varchar(50) DEFAULT NULL,
  `defect_count` decimal(11,0) DEFAULT 0,
  `catatan_qc` text DEFAULT NULL,
  `hasil_qc` enum('PASS','REJECT') DEFAULT NULL,
  `qc_date` datetime DEFAULT NULL,
  `qc_by` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `qc_by` (`qc_by`),
  KEY `idx_qc_checklist_id` (`qc_checklist_id`),
  CONSTRAINT `qc_checklist_details_ibfk_1` FOREIGN KEY (`qc_checklist_id`) REFERENCES `qc_checklists` (`id`) ON DELETE CASCADE,
  CONSTRAINT `qc_checklist_details_ibfk_2` FOREIGN KEY (`qc_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qc_checklist_details`
--

LOCK TABLES `qc_checklist_details` WRITE;
/*!40000 ALTER TABLE `qc_checklist_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `qc_checklist_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qc_checklists`
--

DROP TABLE IF EXISTS `qc_checklists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qc_checklists` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `no_form_checklist` varchar(100) NOT NULL,
  `incoming_item_id` int(11) DEFAULT NULL,
  `incoming_id` int(11) DEFAULT NULL,
  `po_id` varchar(123) DEFAULT NULL,
  `no_surat_jalan` varchar(100) DEFAULT NULL,
  `material_id` int(11) DEFAULT NULL,
  `supplier_id` int(11) DEFAULT NULL,
  `reference` varchar(100) DEFAULT NULL,
  `kategori` enum('Raw Material','Packaging Material','Spare Part','Office Supply') DEFAULT NULL,
  `no_kendaraan` varchar(50) DEFAULT NULL,
  `nama_driver` varchar(100) DEFAULT NULL,
  `tanggal_qc` datetime DEFAULT NULL,
  `qc_by` int(11) DEFAULT NULL,
  `status` enum('Draft','In Progress','Completed') DEFAULT 'Draft',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `no_form_checklist` (`no_form_checklist`),
  KEY `incoming_id` (`incoming_id`),
  KEY `po_id` (`po_id`),
  KEY `material_id` (`material_id`),
  KEY `supplier_id` (`supplier_id`),
  KEY `qc_by` (`qc_by`),
  KEY `idx_no_form_checklist` (`no_form_checklist`),
  KEY `idx_incoming_item_id` (`incoming_item_id`),
  KEY `idx_tanggal_qc` (`tanggal_qc`),
  KEY `idx_status` (`status`),
  CONSTRAINT `qc_checklists_ibfk_1` FOREIGN KEY (`incoming_item_id`) REFERENCES `incoming_goods_items` (`id`) ON DELETE CASCADE,
  CONSTRAINT `qc_checklists_ibfk_2` FOREIGN KEY (`incoming_id`) REFERENCES `incoming_goods` (`id`) ON DELETE CASCADE,
  CONSTRAINT `qc_checklists_ibfk_4` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`) ON DELETE SET NULL,
  CONSTRAINT `qc_checklists_ibfk_5` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`) ON DELETE SET NULL,
  CONSTRAINT `qc_checklists_ibfk_6` FOREIGN KEY (`qc_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=96 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qc_checklists`
--

LOCK TABLES `qc_checklists` WRITE;
/*!40000 ALTER TABLE `qc_checklists` DISABLE KEYS */;
/*!40000 ALTER TABLE `qc_checklists` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qc_photos`
--

DROP TABLE IF EXISTS `qc_photos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qc_photos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `qc_checklist_id` int(11) NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `file_size` int(11) DEFAULT NULL,
  `mime_type` varchar(100) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `uploaded_by` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `uploaded_by` (`uploaded_by`),
  KEY `idx_qc_checklist_id` (`qc_checklist_id`),
  CONSTRAINT `qc_photos_ibfk_1` FOREIGN KEY (`qc_checklist_id`) REFERENCES `qc_checklists` (`id`) ON DELETE CASCADE,
  CONSTRAINT `qc_photos_ibfk_2` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qc_photos`
--

LOCK TABLES `qc_photos` WRITE;
/*!40000 ALTER TABLE `qc_photos` DISABLE KEYS */;
/*!40000 ALTER TABLE `qc_photos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qc_reqc_history`
--

DROP TABLE IF EXISTS `qc_reqc_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qc_reqc_history` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `qc_checklist_id` bigint(20) unsigned DEFAULT NULL COMMENT 'FK to qc_checklists after Re-QC completed',
  `inventory_stock_id` bigint(20) unsigned NOT NULL COMMENT 'FK to inventory_stock',
  `incoming_item_id` bigint(20) unsigned DEFAULT NULL COMMENT 'FK to incoming_goods_items',
  `reqc_number` varchar(255) NOT NULL COMMENT 'REQC/YYYYMMDD/0001',
  `old_status` enum('PASS','REJECT','To QC') NOT NULL COMMENT 'Status before Re-QC',
  `old_exp_date` date DEFAULT NULL COMMENT 'Exp date before Re-QC',
  `reason` text NOT NULL DEFAULT 'Material Expired' COMMENT 'Reason for Re-QC',
  `initiated_by` bigint(20) unsigned NOT NULL COMMENT 'User who initiated Re-QC',
  `initiated_at` timestamp NOT NULL COMMENT 'When Re-QC was initiated',
  `status` enum('PENDING','COMPLETED','CANCELLED') NOT NULL DEFAULT 'PENDING' COMMENT 'Re-QC status',
  `new_status` enum('PASS','REJECT') DEFAULT NULL COMMENT 'Status after Re-QC completed',
  `new_exp_date` date DEFAULT NULL COMMENT 'New exp date if PASS',
  `qty_sample_previous` decimal(10,2) DEFAULT NULL COMMENT 'Previous cumulative sample qty',
  `qty_sample_new` decimal(10,2) DEFAULT NULL COMMENT 'New sample qty taken',
  `completed_at` timestamp NULL DEFAULT NULL COMMENT 'When Re-QC was completed',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `qc_reqc_history_reqc_number_unique` (`reqc_number`),
  KEY `qc_reqc_history_inventory_stock_id_status_index` (`inventory_stock_id`,`status`),
  KEY `qc_reqc_history_reqc_number_index` (`reqc_number`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qc_reqc_history`
--

LOCK TABLES `qc_reqc_history` WRITE;
/*!40000 ALTER TABLE `qc_reqc_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `qc_reqc_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservation_activity_logs`
--

DROP TABLE IF EXISTS `reservation_activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reservation_activity_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `material_id` int(11) DEFAULT NULL,
  `batch_lot` varchar(100) DEFAULT NULL,
  `exp_date` date DEFAULT NULL,
  `qty_before` decimal(10,2) DEFAULT NULL,
  `qty_after` decimal(10,2) DEFAULT NULL,
  `bin_from` varchar(100) DEFAULT NULL,
  `bin_to` varchar(100) DEFAULT NULL,
  `reference_document` varchar(100) DEFAULT NULL,
  `old_value` text DEFAULT NULL,
  `new_value` text DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `device_info` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_request_id` (`request_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_material_id` (`material_id`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `reservation_activity_logs_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `reservation_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `reservation_activity_logs_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `reservation_activity_logs_ibfk_3` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservation_activity_logs`
--

LOCK TABLES `reservation_activity_logs` WRITE;
/*!40000 ALTER TABLE `reservation_activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservation_activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservation_request_items`
--

DROP TABLE IF EXISTS `reservation_request_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reservation_request_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) NOT NULL,
  `material_id` int(11) DEFAULT NULL,
  `kode_item` varchar(100) DEFAULT NULL,
  `keterangan` text DEFAULT NULL,
  `qty` decimal(10,2) DEFAULT NULL,
  `uom` varchar(50) DEFAULT NULL,
  `nama_material` varchar(200) DEFAULT NULL,
  `kode_pm` varchar(100) DEFAULT NULL,
  `jumlah_permintaan` decimal(10,2) DEFAULT NULL,
  `kode_bahan` varchar(100) DEFAULT NULL,
  `nama_bahan` varchar(200) DEFAULT NULL,
  `jumlah_kebutuhan` decimal(10,2) DEFAULT NULL,
  `jumlah_kirim` decimal(10,2) DEFAULT NULL,
  `alasan_penambahan` enum('Reject Produksi','Bulk Lebih','Reject Supplier','Kurang Supplier') DEFAULT NULL,
  `qty_picked` decimal(10,2) DEFAULT 0.00,
  `qty_remaining` decimal(10,2) DEFAULT NULL,
  `status` enum('pending','partial','completed','cancelled') DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_request_id` (`request_id`),
  KEY `idx_material_id` (`material_id`),
  KEY `idx_status` (`status`),
  CONSTRAINT `reservation_request_items_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `reservation_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `reservation_request_items_ibfk_2` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservation_request_items`
--

LOCK TABLES `reservation_request_items` WRITE;
/*!40000 ALTER TABLE `reservation_request_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservation_request_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservation_requests`
--

DROP TABLE IF EXISTS `reservation_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reservation_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `no_reservasi` varchar(100) NOT NULL,
  `request_type` enum('FOH-RS','Packaging','raw-material','Additional') NOT NULL,
  `tanggal_permintaan` datetime NOT NULL,
  `status` enum('Draft','Submitted','Approved','Rejected','Picked','Completed','Cancelled','In Progress') DEFAULT 'Draft',
  `picking_started_at` timestamp NULL DEFAULT NULL,
  `picking_completed_at` timestamp NULL DEFAULT NULL,
  `alasan_reservasi` text DEFAULT NULL,
  `departemen` varchar(100) DEFAULT NULL,
  `nama_produk` varchar(200) DEFAULT NULL,
  `no_bets_filling` varchar(100) DEFAULT NULL,
  `kode_produk` varchar(100) DEFAULT NULL,
  `no_bets` varchar(100) DEFAULT NULL,
  `besar_bets` decimal(10,2) DEFAULT NULL,
  `requested_by` int(11) DEFAULT NULL,
  `approved_by` int(11) DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `rejected_by` int(11) DEFAULT NULL,
  `rejected_at` datetime DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `no_reservasi` (`no_reservasi`),
  KEY `requested_by` (`requested_by`),
  KEY `approved_by` (`approved_by`),
  KEY `rejected_by` (`rejected_by`),
  KEY `idx_no_reservasi` (`no_reservasi`),
  KEY `idx_request_type` (`request_type`),
  KEY `idx_status` (`status`),
  KEY `idx_tanggal_permintaan` (`tanggal_permintaan`),
  CONSTRAINT `reservation_requests_ibfk_1` FOREIGN KEY (`requested_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `reservation_requests_ibfk_2` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `reservation_requests_ibfk_3` FOREIGN KEY (`rejected_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservation_requests`
--

LOCK TABLES `reservation_requests` WRITE;
/*!40000 ALTER TABLE `reservation_requests` DISABLE KEYS */;
INSERT INTO `reservation_requests` VALUES
(52,'RSV/20251219/0001','raw-material','2025-12-19 08:42:00','In Progress','2025-12-19 08:47:06',NULL,NULL,NULL,NULL,NULL,'GZBB001 Azalea Zaitun Oil with Habbatussauda Oil 135 ml - R25','512073',1241.00,1,NULL,NULL,NULL,NULL,NULL,'2025-12-19 08:46:45','2025-12-19 08:47:06');
/*!40000 ALTER TABLE `reservation_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservations`
--

DROP TABLE IF EXISTS `reservations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reservations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `reservation_no` varchar(100) NOT NULL,
  `reservation_request_id` int(11) DEFAULT NULL,
  `reservation_type` enum('raw-material','packaging','Transfer','Production') NOT NULL,
  `material_id` int(11) NOT NULL,
  `warehouse_id` int(11) NOT NULL,
  `bin_id` int(11) NOT NULL,
  `batch_lot` varchar(100) DEFAULT NULL,
  `qty_reserved` decimal(10,2) NOT NULL,
  `uom` varchar(50) NOT NULL,
  `status` enum('Active','Picked','Cancelled','Expired','Reserved') DEFAULT 'Active',
  `reference_no` varchar(100) DEFAULT NULL,
  `reservation_date` datetime NOT NULL,
  `expiry_date` datetime DEFAULT NULL,
  `picked_qty` decimal(10,2) DEFAULT 0.00,
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `reservation_request_id` (`reservation_request_id`),
  KEY `warehouse_id` (`warehouse_id`),
  KEY `bin_id` (`bin_id`),
  KEY `created_by` (`created_by`),
  KEY `idx_reservation_no` (`reservation_no`),
  KEY `idx_material_id` (`material_id`),
  KEY `idx_status` (`status`),
  KEY `idx_reservation_date` (`reservation_date`),
  CONSTRAINT `reservations_ibfk_1` FOREIGN KEY (`reservation_request_id`) REFERENCES `reservation_requests` (`id`) ON DELETE SET NULL,
  CONSTRAINT `reservations_ibfk_2` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`),
  CONSTRAINT `reservations_ibfk_3` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`id`),
  CONSTRAINT `reservations_ibfk_4` FOREIGN KEY (`bin_id`) REFERENCES `warehouse_bins` (`id`),
  CONSTRAINT `reservations_ibfk_5` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservations`
--

LOCK TABLES `reservations` WRITE;
/*!40000 ALTER TABLE `reservations` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `return_activity_logs`
--

DROP TABLE IF EXISTS `return_activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `return_activity_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `return_id` int(11) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `material_id` int(11) DEFAULT NULL,
  `batch_lot` varchar(100) DEFAULT NULL,
  `exp_date` date DEFAULT NULL,
  `qty_before` decimal(10,2) DEFAULT NULL,
  `qty_after` decimal(10,2) DEFAULT NULL,
  `bin_from` varchar(100) DEFAULT NULL,
  `bin_to` varchar(100) DEFAULT NULL,
  `reference_document` varchar(100) DEFAULT NULL,
  `old_value` text DEFAULT NULL,
  `new_value` text DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `device_info` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_return_id` (`return_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_material_id` (`material_id`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `return_activity_logs_ibfk_1` FOREIGN KEY (`return_id`) REFERENCES `returns` (`id`) ON DELETE CASCADE,
  CONSTRAINT `return_activity_logs_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `return_activity_logs_ibfk_3` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `return_activity_logs`
--

LOCK TABLES `return_activity_logs` WRITE;
/*!40000 ALTER TABLE `return_activity_logs` DISABLE KEYS */;
INSERT INTO `return_activity_logs` VALUES
(4,NULL,1,'Return Rejected Material','Return 2199.50 Kg of Whimol 15 CG-I (white mineral oil) (REJECTED) to Supplier.',12,'28.F.WML0001',NULL,0.00,0.00,NULL,NULL,'IN/27686',NULL,NULL,'103.182.209.66','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36','2025-12-19 03:39:03');
/*!40000 ALTER TABLE `return_activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `return_documents`
--

DROP TABLE IF EXISTS `return_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `return_documents` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `return_id` int(11) NOT NULL,
  `document_type` enum('photo','invoice','delivery_note','other') NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `file_size` int(11) DEFAULT NULL,
  `mime_type` varchar(100) DEFAULT NULL,
  `uploaded_by` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `uploaded_by` (`uploaded_by`),
  KEY `idx_return_id` (`return_id`),
  CONSTRAINT `return_documents_ibfk_1` FOREIGN KEY (`return_id`) REFERENCES `returns` (`id`) ON DELETE CASCADE,
  CONSTRAINT `return_documents_ibfk_2` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `return_documents`
--

LOCK TABLES `return_documents` WRITE;
/*!40000 ALTER TABLE `return_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `return_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `return_items`
--

DROP TABLE IF EXISTS `return_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `return_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `return_id` int(11) NOT NULL,
  `material_id` int(11) NOT NULL,
  `batch_lot` varchar(100) DEFAULT NULL,
  `qty_return` decimal(10,2) NOT NULL,
  `uom` varchar(50) NOT NULL,
  `return_reason` enum('QC Reject','Expired','Damage','Excess Production','Wrong Delivery','Kelebihan Produksi') NOT NULL,
  `reason_notes` text DEFAULT NULL,
  `from_bin_id` int(11) DEFAULT NULL,
  `stock_deducted` tinyint(1) DEFAULT 0,
  `deducted_at` datetime DEFAULT NULL,
  `item_condition` enum('Good','Damaged','Expired','Rejected') DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `from_bin_id` (`from_bin_id`),
  KEY `idx_return_id` (`return_id`),
  KEY `idx_material_id` (`material_id`),
  KEY `idx_batch_lot` (`batch_lot`),
  CONSTRAINT `return_items_ibfk_1` FOREIGN KEY (`return_id`) REFERENCES `returns` (`id`) ON DELETE CASCADE,
  CONSTRAINT `return_items_ibfk_2` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`),
  CONSTRAINT `return_items_ibfk_3` FOREIGN KEY (`from_bin_id`) REFERENCES `warehouse_bins` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `return_items`
--

LOCK TABLES `return_items` WRITE;
/*!40000 ALTER TABLE `return_items` DISABLE KEYS */;
INSERT INTO `return_items` VALUES
(11,18,12,'28.F.WML0001',2199.50,'Kg','QC Reject',NULL,NULL,1,NULL,'Rejected','2025-12-19 10:39:03','2025-12-19 10:39:03');
/*!40000 ALTER TABLE `return_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `return_slips`
--

DROP TABLE IF EXISTS `return_slips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `return_slips` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `return_number` varchar(100) NOT NULL COMMENT 'Nomor unik slip return',
  `qty_return` decimal(10,2) NOT NULL COMMENT 'Jumlah material yang di-return',
  `uom` varchar(50) NOT NULL COMMENT 'Unit of Measure',
  `alasan_reject` text DEFAULT NULL COMMENT 'Alasan material ditolak/direturn',
  `status` varchar(50) NOT NULL DEFAULT 'Draft' COMMENT 'Status return (e.g., Draft, Submitted, Completed)',
  `tanggal_return` datetime NOT NULL COMMENT 'Tanggal dilakukannya return',
  `qc_checklist_id` int(11) DEFAULT NULL COMMENT 'FK ke tabel qc_checklists',
  `incoming_item_id` int(11) DEFAULT NULL COMMENT 'FK ke tabel incoming_goods_items',
  `material_id` int(11) NOT NULL COMMENT 'FK ke tabel materials',
  `supplier_id` int(11) DEFAULT NULL COMMENT 'FK ke tabel suppliers',
  `created_by` int(11) DEFAULT NULL COMMENT 'FK ke tabel users (Creator)',
  `batch_lot` varchar(255) DEFAULT NULL COMMENT 'Nomor Batch/Lot material yang di-return',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `return_number` (`return_number`),
  KEY `return_slips_qc_checklist_id_foreign` (`qc_checklist_id`),
  KEY `return_slips_incoming_item_id_foreign` (`incoming_item_id`),
  KEY `return_slips_material_id_foreign` (`material_id`),
  KEY `return_slips_supplier_id_foreign` (`supplier_id`),
  KEY `return_slips_created_by_foreign` (`created_by`),
  KEY `idx_return_number` (`return_number`),
  CONSTRAINT `return_slips_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `return_slips_incoming_item_id_foreign` FOREIGN KEY (`incoming_item_id`) REFERENCES `incoming_goods_items` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `return_slips_material_id_foreign` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `return_slips_qc_checklist_id_foreign` FOREIGN KEY (`qc_checklist_id`) REFERENCES `qc_checklists` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `return_slips_supplier_id_foreign` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `return_slips`
--

LOCK TABLES `return_slips` WRITE;
/*!40000 ALTER TABLE `return_slips` DISABLE KEYS */;
INSERT INTO `return_slips` VALUES
(7,'RTN/20251219/0001',2199.50,'Kg','TMS','Pending Return','2025-12-19 10:33:59',86,1237,12,12,1,'28.F.WML0001','2025-12-19 10:33:59','2025-12-19 10:33:59');
/*!40000 ALTER TABLE `return_slips` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `returns`
--

DROP TABLE IF EXISTS `returns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `returns` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `return_number` varchar(100) NOT NULL,
  `return_type` enum('Supplier','Production') NOT NULL,
  `return_date` date NOT NULL,
  `supplier_id` int(11) DEFAULT NULL,
  `department` varchar(100) DEFAULT NULL,
  `incoming_id` int(11) DEFAULT NULL,
  `reservation_request_id` int(11) DEFAULT NULL,
  `reference_number` varchar(100) DEFAULT NULL,
  `status` enum('Draft','Submitted','Pending Approval','Approved','Cancelled','Returned') DEFAULT 'Draft',
  `notes` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `approved_by` int(11) DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `return_number` (`return_number`),
  KEY `supplier_id` (`supplier_id`),
  KEY `incoming_id` (`incoming_id`),
  KEY `reservation_request_id` (`reservation_request_id`),
  KEY `created_by` (`created_by`),
  KEY `approved_by` (`approved_by`),
  KEY `idx_return_number` (`return_number`),
  KEY `idx_return_type` (`return_type`),
  KEY `idx_status` (`status`),
  KEY `idx_return_date` (`return_date`),
  CONSTRAINT `returns_ibfk_1` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`) ON DELETE SET NULL,
  CONSTRAINT `returns_ibfk_2` FOREIGN KEY (`incoming_id`) REFERENCES `incoming_goods` (`id`) ON DELETE SET NULL,
  CONSTRAINT `returns_ibfk_3` FOREIGN KEY (`reservation_request_id`) REFERENCES `reservation_requests` (`id`) ON DELETE SET NULL,
  CONSTRAINT `returns_ibfk_4` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `returns_ibfk_5` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `returns`
--

LOCK TABLES `returns` WRITE;
/*!40000 ALTER TABLE `returns` DISABLE KEYS */;
INSERT INTO `returns` VALUES
(18,'RET/20251219/0001','Supplier','2025-12-19',NULL,NULL,NULL,NULL,'IN/27686','Returned',NULL,1,NULL,NULL,NULL,'2025-12-19 10:39:03','2025-12-19 10:39:03');
/*!40000 ALTER TABLE `returns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_permissions`
--

DROP TABLE IF EXISTS `role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `role_permissions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `role_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `role_id` (`role_id`),
  KEY `permission_id` (`permission_id`),
  CONSTRAINT `role_permissions_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_permissions_ibfk_2` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=115 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_permissions`
--

LOCK TABLES `role_permissions` WRITE;
/*!40000 ALTER TABLE `role_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `role_name` varchar(50) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_last_activity` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_movements`
--

DROP TABLE IF EXISTS `stock_movements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stock_movements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `movement_number` varchar(100) NOT NULL,
  `movement_type` enum('INCOMING','QC_RELEASE','PUTAWAY','TRANSFER','PICKING','RETURN','QC_SAMPLING','BIN_TO_BIN','STATUS_CHANGE','QC_REJECT','OUT','RETURN_REJECTED','APPROVE RETURN MATERIAL') NOT NULL,
  `material_id` int(11) NOT NULL,
  `batch_lot` varchar(100) DEFAULT NULL,
  `from_warehouse_id` int(11) DEFAULT NULL,
  `from_bin_id` int(11) DEFAULT NULL,
  `to_warehouse_id` int(11) DEFAULT NULL,
  `to_bin_id` int(11) DEFAULT NULL,
  `qty` decimal(10,2) NOT NULL,
  `uom` varchar(50) NOT NULL,
  `reference_type` varchar(50) DEFAULT NULL,
  `reference_id` varchar(112) DEFAULT NULL,
  `movement_date` datetime NOT NULL,
  `executed_by` int(11) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `movement_number` (`movement_number`),
  KEY `from_warehouse_id` (`from_warehouse_id`),
  KEY `from_bin_id` (`from_bin_id`),
  KEY `to_warehouse_id` (`to_warehouse_id`),
  KEY `to_bin_id` (`to_bin_id`),
  KEY `executed_by` (`executed_by`),
  KEY `idx_movement_number` (`movement_number`),
  KEY `idx_material_id` (`material_id`),
  KEY `idx_movement_type` (`movement_type`),
  KEY `idx_movement_date` (`movement_date`),
  KEY `idx_reference` (`reference_type`,`reference_id`),
  CONSTRAINT `stock_movements_ibfk_1` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`),
  CONSTRAINT `stock_movements_ibfk_2` FOREIGN KEY (`from_warehouse_id`) REFERENCES `warehouses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `stock_movements_ibfk_3` FOREIGN KEY (`from_bin_id`) REFERENCES `warehouse_bins` (`id`) ON DELETE SET NULL,
  CONSTRAINT `stock_movements_ibfk_4` FOREIGN KEY (`to_warehouse_id`) REFERENCES `warehouses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `stock_movements_ibfk_5` FOREIGN KEY (`to_bin_id`) REFERENCES `warehouse_bins` (`id`) ON DELETE SET NULL,
  CONSTRAINT `stock_movements_ibfk_6` FOREIGN KEY (`executed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=153 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_movements`
--

LOCK TABLES `stock_movements` WRITE;
/*!40000 ALTER TABLE `stock_movements` DISABLE KEYS */;
/*!40000 ALTER TABLE `stock_movements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppliers`
--

DROP TABLE IF EXISTS `suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suppliers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode_supplier` varchar(50) NOT NULL,
  `nama_supplier` varchar(200) NOT NULL,
  `alamat` text DEFAULT NULL,
  `telepon` varchar(50) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `contact_person` varchar(100) DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_supplier` (`kode_supplier`),
  KEY `idx_kode_supplier` (`kode_supplier`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=775 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppliers`
--

LOCK TABLES `suppliers` WRITE;
/*!40000 ALTER TABLE `suppliers` DISABLE KEYS */;
/*!40000 ALTER TABLE `suppliers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transfer_order_items`
--

DROP TABLE IF EXISTS `transfer_order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transfer_order_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `to_id` int(11) NOT NULL,
  `material_id` int(11) NOT NULL,
  `batch_lot` varchar(100) DEFAULT NULL,
  `source_bin_id` int(11) DEFAULT NULL,
  `destination_bin_id` int(11) DEFAULT NULL,
  `qty_planned` decimal(10,2) NOT NULL,
  `qty_actual` decimal(10,2) DEFAULT NULL,
  `uom` varchar(50) NOT NULL,
  `status` enum('pending','in_progress','picked','short_pick','completed','cancelled') DEFAULT 'pending',
  `box_scanned` tinyint(1) DEFAULT 0,
  `box_scan_time` datetime DEFAULT NULL,
  `source_bin_scanned` tinyint(1) DEFAULT 0,
  `source_bin_scan_time` datetime DEFAULT NULL,
  `dest_bin_scanned` tinyint(1) DEFAULT 0,
  `dest_bin_scan_time` datetime DEFAULT NULL,
  `scanned_at` datetime DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `picker_user_id` int(11) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `picker_user_id` (`picker_user_id`),
  KEY `idx_to_id` (`to_id`),
  KEY `idx_material_id` (`material_id`),
  KEY `idx_source_bin_id` (`source_bin_id`),
  KEY `idx_destination_bin_id` (`destination_bin_id`),
  KEY `idx_status` (`status`),
  CONSTRAINT `transfer_order_items_ibfk_1` FOREIGN KEY (`to_id`) REFERENCES `transfer_orders` (`id`) ON DELETE CASCADE,
  CONSTRAINT `transfer_order_items_ibfk_2` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`),
  CONSTRAINT `transfer_order_items_ibfk_3` FOREIGN KEY (`source_bin_id`) REFERENCES `warehouse_bins` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transfer_order_items_ibfk_4` FOREIGN KEY (`destination_bin_id`) REFERENCES `warehouse_bins` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transfer_order_items_ibfk_5` FOREIGN KEY (`picker_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transfer_order_items`
--

LOCK TABLES `transfer_order_items` WRITE;
/*!40000 ALTER TABLE `transfer_order_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `transfer_order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transfer_order_scans`
--

DROP TABLE IF EXISTS `transfer_order_scans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transfer_order_scans` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `to_item_id` int(11) NOT NULL,
  `scan_type` enum('source_bin','box','dest_bin','confirm_qty') NOT NULL,
  `scan_code` varchar(255) NOT NULL,
  `scan_time` datetime NOT NULL,
  `scanned_by` int(11) DEFAULT NULL,
  `is_valid` tinyint(1) DEFAULT NULL,
  `error_message` text DEFAULT NULL,
  `qty_scanned` decimal(10,2) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `scanned_by` (`scanned_by`),
  KEY `idx_to_item_id` (`to_item_id`),
  KEY `idx_scan_time` (`scan_time`),
  KEY `idx_scan_type` (`scan_type`),
  CONSTRAINT `transfer_order_scans_ibfk_1` FOREIGN KEY (`to_item_id`) REFERENCES `transfer_order_items` (`id`) ON DELETE CASCADE,
  CONSTRAINT `transfer_order_scans_ibfk_2` FOREIGN KEY (`scanned_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transfer_order_scans`
--

LOCK TABLES `transfer_order_scans` WRITE;
/*!40000 ALTER TABLE `transfer_order_scans` DISABLE KEYS */;
/*!40000 ALTER TABLE `transfer_order_scans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transfer_orders`
--

DROP TABLE IF EXISTS `transfer_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transfer_orders` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `to_number` varchar(100) NOT NULL,
  `transaction_type` enum('Putaway - QC Release','Transfer - Internal','Transfer - Bin to Bin','Picking - Production','Picking - Sales Order') NOT NULL,
  `warehouse_id` int(11) DEFAULT NULL,
  `reservation_request_id` int(11) DEFAULT NULL,
  `reservation_no` varchar(100) DEFAULT NULL,
  `creation_date` datetime NOT NULL,
  `scheduled_date` datetime DEFAULT NULL,
  `completion_date` datetime DEFAULT NULL,
  `started_at` datetime DEFAULT NULL,
  `status` enum('Pending','In Progress','Completed','Short-Pick','Cancelled') DEFAULT 'Pending',
  `created_by` int(11) DEFAULT NULL,
  `executed_by` int(11) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `to_number` (`to_number`),
  KEY `warehouse_id` (`warehouse_id`),
  KEY `reservation_request_id` (`reservation_request_id`),
  KEY `created_by` (`created_by`),
  KEY `executed_by` (`executed_by`),
  KEY `idx_to_number` (`to_number`),
  KEY `idx_transaction_type` (`transaction_type`),
  KEY `idx_status` (`status`),
  KEY `idx_creation_date` (`creation_date`),
  CONSTRAINT `transfer_orders_ibfk_1` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transfer_orders_ibfk_2` FOREIGN KEY (`reservation_request_id`) REFERENCES `reservation_requests` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transfer_orders_ibfk_3` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transfer_orders_ibfk_4` FOREIGN KEY (`executed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transfer_orders`
--

LOCK TABLES `transfer_orders` WRITE;
/*!40000 ALTER TABLE `transfer_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `transfer_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `nik` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `departement` varchar(100) DEFAULT NULL,
  `jabatan` varchar(100) DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `role_id` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `last_seen_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `nik` (`nik`),
  KEY `role_id` (`role_id`),
  KEY `idx_email` (`email`),
  KEY `idx_nik` (`nik`),
  KEY `idx_status` (`status`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES
(1,'Njan Surenjan','farizan0706@gmail.com','10020','$2y$12$jcqZeoH./MrI9.ff2YSFLONJ.xBZJv7aeEGzmRgDQqNi4g66kEP.a','IT Finance','IT Product Manager','active',1,'2025-10-14 23:07:51','2025-12-19 16:35:50','2025-12-19 16:35:50'),
(2,'gondowangi-123','gondowangi-123@company.com','237455','$2y$12$XSKXJmoxs2BWbI8rW61o3.hHcu2tRSbJdIlR7JJrvRy/Pghp.wU06','QC','Staff','active',1,'2025-11-27 09:57:35','2025-12-10 04:15:37','2025-12-10 04:15:37');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warehouse_activity_logs`
--

DROP TABLE IF EXISTS `warehouse_activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `warehouse_activity_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `to_id` int(11) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `material_id` int(11) DEFAULT NULL,
  `batch_lot` varchar(100) DEFAULT NULL,
  `exp_date` date DEFAULT NULL,
  `qty_before` decimal(10,2) DEFAULT NULL,
  `qty_after` decimal(10,2) DEFAULT NULL,
  `bin_from` varchar(100) DEFAULT NULL,
  `bin_to` varchar(100) DEFAULT NULL,
  `reference_document` varchar(100) DEFAULT NULL,
  `old_value` text DEFAULT NULL,
  `new_value` text DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `device_info` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_to_id` (`to_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_material_id` (`material_id`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `warehouse_activity_logs_ibfk_1` FOREIGN KEY (`to_id`) REFERENCES `transfer_orders` (`id`) ON DELETE CASCADE,
  CONSTRAINT `warehouse_activity_logs_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `warehouse_activity_logs_ibfk_3` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warehouse_activity_logs`
--

LOCK TABLES `warehouse_activity_logs` WRITE;
/*!40000 ALTER TABLE `warehouse_activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `warehouse_activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warehouse_bins`
--

DROP TABLE IF EXISTS `warehouse_bins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `warehouse_bins` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `zone_id` int(11) NOT NULL,
  `warehouse_id` int(11) NOT NULL,
  `bin_code` varchar(100) NOT NULL,
  `bin_type` enum('Normal','Quarantine','Reject','Staging','Production') DEFAULT 'Normal' COMMENT 'Jenis bin untuk filtering',
  `capacity` int(11) DEFAULT NULL COMMENT 'Maximum items/pallets',
  `status` enum('full','available','','') NOT NULL DEFAULT 'available',
  `current_items` int(11) DEFAULT 0,
  `qr_code_path` varchar(225) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `warehouse_id` (`warehouse_id`),
  KEY `idx_zone_id` (`zone_id`),
  KEY `idx_bin_type` (`bin_type`),
  CONSTRAINT `warehouse_bins_ibfk_1` FOREIGN KEY (`zone_id`) REFERENCES `warehouse_zones` (`id`) ON DELETE CASCADE,
  CONSTRAINT `warehouse_bins_ibfk_2` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=853 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warehouse_bins`
--

LOCK TABLES `warehouse_bins` WRITE;
/*!40000 ALTER TABLE `warehouse_bins` DISABLE KEYS */;
/*!40000 ALTER TABLE `warehouse_bins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warehouse_zones`
--

DROP TABLE IF EXISTS `warehouse_zones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `warehouse_zones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `warehouse_id` int(11) NOT NULL,
  `zone_code` varchar(50) NOT NULL,
  `zone_name` varchar(100) NOT NULL,
  `zone_type` varchar(255) NOT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_warehouse_zone` (`warehouse_id`,`zone_code`),
  KEY `idx_zone_type` (`zone_type`),
  CONSTRAINT `warehouse_zones_ibfk_1` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warehouse_zones`
--

LOCK TABLES `warehouse_zones` WRITE;
/*!40000 ALTER TABLE `warehouse_zones` DISABLE KEYS */;
INSERT INTO `warehouse_zones` VALUES
(5,1,'RM-Non AC','RM-Non AC','Raw Material','active','2025-10-26 23:55:46','2025-10-26 23:55:46'),
(6,1,'RM-AC','RM-AC','Raw Material','active','2025-10-26 23:55:46','2025-10-26 23:55:46'),
(7,1,'PM-Non AC','PM-Non AC','Packaging Material','active','2025-10-26 23:55:46','2025-10-26 23:55:46'),
(8,1,'PM-AC','PM-AC','Packaging Material','active','2025-10-26 23:55:46','2025-10-26 23:55:46'),
(16,1,'Z-GEN','General Storage','STORAGE','active','2025-12-08 07:30:21','2025-12-08 07:30:21');
/*!40000 ALTER TABLE `warehouse_zones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warehouses`
--

DROP TABLE IF EXISTS `warehouses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `warehouses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `warehouse_code` varchar(50) NOT NULL,
  `warehouse_name` varchar(200) NOT NULL,
  `alamat` text DEFAULT NULL,
  `tipe` enum('Main','Quarantine','Production','Finished Goods','Return') NOT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `warehouse_code` (`warehouse_code`),
  KEY `idx_warehouse_code` (`warehouse_code`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warehouses`
--

LOCK TABLES `warehouses` WRITE;
/*!40000 ALTER TABLE `warehouses` DISABLE KEYS */;
INSERT INTO `warehouses` VALUES
(1,'WH-001','Gudang Utama','Jl. Industri No. 1','Main','active','2025-10-15 08:08:26','2025-10-15 08:08:26');
/*!40000 ALTER TABLE `warehouses` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2025-12-19 23:57:09
